# Week 12 HW Tidy Census Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("census.csv")

In [3]:
df

,state,state fips,commodity,data item,domain category,2017,2012,2007,2002,1997
0,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,NaN,"2,042,220","2,109,303","2,204,792","2,128,982","2,215,876"
1,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (1.0 TO 9.9 ACRES),"273,325","223,634","232,849","179,346","205,390"
2,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (10.0 TO 49.9 ACRES),"583,001","589,549","620,283","563,772","530,902"
3,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (50 TO 179 ACRES),"564,763","634,047","660,530","658,705","694,489"
4,US TOTAL,99,FARM OPERATIONS,FARM OPERATIONS - NUMBER OF OPERATIONS,AREA OPERATED: (180 TO 499 ACRES),"315,017","346,038","368,368","388,617","428,215"
...,...,...,...,...,...,...,...,...,...,...
124,US TOTAL,99,POTATOES,POTATOES - ACRES HARVESTED,NaN,"1,133,128","1,168,199","1,131,963","1,266,087","1,372,458"
125,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - OPERATIONS WITH AREA HARVESTED,NaN,"4,798","2,202","1,910","2,366","1,976"
126,US TOTAL,99,SWEET POTATOES,SWEET POTATOES - ACRES HARVESTED,NaN,"172,983","125,726","105,284","92,310","80,953"
127,US TOTAL,99,ORCHARDS,ORCHARDS - OPERATIONS WITH AREA BEARING & NON-...,NaN,"111,955","106,488","115,935","113,649","123,420"
128,US TOTAL,99,ORCHARDS,ORCHARDS - ACRES BEARING & NON-BEARING,NaN,NaN,NaN,NaN,NaN,NaN